// Colors

$col_black: hsl(0deg, 0%, 7%);
$col_dark_blue: hsl(219deg, 29%, 14%);
$col_white: hsl(0deg, 0%, 100%);
$col_grey_100: hsl(214deg, 17%, 92%);
$col_grey_200: hsl(0deg, 0%, 81%);
$col_grey_400: hsl(224deg, 10%, 45%);
$col_grey_500: hsl(217deg, 19%, 35%);
$col_purple_50: hsl(260deg, 100%, 95%);
$col_purple_300: hsl(264deg, 82%, 70%);
$col_purple_500: hsl(263deg, 55%, 52%);