html,
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 100%;
    margin: 2em;
    display: grid;
    grid-auto-flow: dense;
    gap: 2em;
}

.quote {
    position: absolute;
    display: none;
    width: 6.5em;
    height: 6.5em;
}

@media screen and (min-width: 41em) {
    main {
        max-width: 41em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 18.1875em);
    }

    #daniel,
    #patrick,
    #kira {
        grid-column: 1 / span 2;
    }

    .quote {
        display: block;
        translate: 21.5em -2em;
    }

    // Why does this work here but not in the SCSS partial for
    // the component?
    .testimonial__summary {
        z-index: 1
    }
}

@media screen and (min-width: 70em) {
    main {
        max-width: 70em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 18.1875em);
    }

    #patrick {
        grid-row: 2;
        grid-column: 2 / span 2;
    }

    #kira {
        grid-column: 4;
        grid-row: 1 / span 2;
    }
}