@use "../utils/variables";
@use "../base/typography";

.testimonial {

    border-radius: 0.5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 2em 2em 1em variables.$col_grey_200;

    &--purple {
        background-color: variables.$col_purple_500;
    }
    &--grey {
        background-color: variables.$col_grey_500;
    }
    &--darkblue {
        background-color: variables.$col_dark_blue;
    }
    &--white {
        background-color: variables.$col_white;
    }

    &__header {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    &__avatar {
        border-radius: 50%;
        width: 1.75em;
        height: 1.75em;

        &--bordered {
            border-style: solid;
            border-width: 0.125em;
            border-color: variables.$col_purple_300;
        }
    }

    &__author {
        font-size: 0.8125rem;
        line-height: 110%;
        letter-spacing: 0;
        margin-bottom: 0.25em;

        &--light {
            color: variables.$col_white;
        }
        &--dark {
            color: variables.$col_grey_500;
        }
    }

    &__role {
        font-size: 0.6875rem;
        line-height: 110%;
        letter-spacing: 0;

        &--purple {
            color: variables.$col_purple_50;
        }
        &--lightgrey {
            color: variables.$col_grey_200;
        }
        &--medgray {
            color: variables.$col_grey_400;
        }
        &--white {
            color: variables.$col_white;
        }
    }

    &__summary {
        font-size: 1.25rem;
        line-height: 120%;
        letter-spacing: 0;

        &--light {
            color: variables.$col_white;
        }
        &--medium {
            color: variables.$col_grey_200;
        }
        &--dark {
            color: variables.$col_grey_500;
        }
    }

    &__testimonial {
        font-size: 0.8125rem;
        line-height: 140%;
        letter-spacing: 0;

        &--purple {
            color: variables.$col_purple_50;
        }
        &--light {
            color: variables.$col_grey_100;
        }
        &--dark {
            color: variables.$col_grey_400;
        }
    }
}