@font-face {
    font-family: "Barlow Semi Condensed";
    src: url("../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url("../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
    font-weight: 600;
}